# Cleanup imported outbound data from fulfillment

In [2]:
import pandas as pd

In [3]:
# Import the order data
filepath =  'DummyData\OrderData'
filename = 'dummy_order_data.xlsx'
df = pd.read_excel(filepath+'\\'+filename, dtype={'Marketplace Order ID': str})
df
# print(df['Marketplace Order ID'].dtype)

,No,Delivery Order ID,Marketplace Order ID,Order Status,Marketplace,Shipping Note,Reference No,Recipient,Recipient Address,Recipient Phone,...,Date Stock Out,Date Delivered,Comment,Total Product,Total Product Quantity,Product Seller SKU,Product Quantity,Serial No,Product Price (RM),COD Amount(RM)
0,1,dummy_order_1,DUMMY_LAZADA_1,Delivered,LAZADA,MYMPA155138005,NaN,****,****,****,...,2024-08-17 11:17:57,2024-08-19 17:31:22,NaN,1,1,CABLE_PLAS_WHITE_S,1,NaN,9.9,0
1,2,dummy_order_2,DUMMY_LAZADA_2,Delivered,LAZADA,MYMPA154886364,NaN,****,****,****,...,2024-08-28 08:28:35,2024-09-11 11:18:29,NaN,1,3,CABLE_CASE,3,NaN,30,0
2,3,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,...,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0
3,4,dummy_order_4,DUMMY_SHOPEE_2,Delivered,SHOPEE,SPXMY048546106658,NaN,****,****,****,...,2024-08-08 14:27:32,2024-08-09 11:10:44,NaN,1,1,MOUSEPAD_WOVEN_DARKGREY_L,1,NaN,16.9,0
4,5,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,...,2024-08-07 10:48:06,2024-08-07 17:12:58,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0
5,6,dummy_order_6,DUMMY_SHOPEE_4,Delivered,SHOPEE,SPXMY045753691608,NaN,****,****,****,...,2024-08-05 12:03:30,2024-08-05 17:03:59,NaN,1,1,WRIST_REST_MOUSE_BLACK,1,NaN,29.9,0
6,7,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,...,2024-08-10 10:54:03,2024-08-10 15:06:06,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   No                      7 non-null      int64
 1   Delivery Order ID       7 non-null      object
 2   Marketplace Order ID    7 non-null      object
 3   Order Status            7 non-null      object
 4   Marketplace             7 non-null      object
 5   Shipping Note           7 non-null      object
 6   Reference No            0 non-null      float64
 7   Recipient               7 non-null      object
 8   Recipient Address       7 non-null      object
 9   Recipient Phone         7 non-null      object
 10  Postcode                7 non-null      object
 11  City                    7 non-null      object
 12  Zone                    7 non-null      object
 13  Country                 7 non-null      object
 14  Weight                  7 non-null      float64
 15  m3                      7 non-null      float64
 16  Total(RM)               7 non-null      int64
 17  Delivery Method         0 non-null      float64
 18  Date Added              7 non-null      object
 19  Date Stock Out          7 non-null      object
 20  Date Delivered          7 non-null      object
 21  Comment                 0 non-null      float64
 22  Total Product           7 non-null      int64
 23  Total Product Quantity  7 non-null      int64
 24  Product Seller SKU      7 non-null      object
 25  Product Quantity        7 non-null      object
 26  Serial No               0 non-null      float64
 27  Product Price (RM)      7 non-null      object
 28  COD Amount(RM)          7 non-null      int64
dtypes: float64(6), int64(5), object(18)
memory usage: 1.7+ KB

In [5]:
# Creating new columns to cater for exploded values
df["SKU"] = ""
df["Quantity"] = 0
df

,No,Delivery Order ID,Marketplace Order ID,Order Status,Marketplace,Shipping Note,Reference No,Recipient,Recipient Address,Recipient Phone,...,Comment,Total Product,Total Product Quantity,Product Seller SKU,Product Quantity,Serial No,Product Price (RM),COD Amount(RM),SKU,Quantity
0,1,dummy_order_1,DUMMY_LAZADA_1,Delivered,LAZADA,MYMPA155138005,NaN,****,****,****,...,NaN,1,1,CABLE_PLAS_WHITE_S,1,NaN,9.9,0,,0
1,2,dummy_order_2,DUMMY_LAZADA_2,Delivered,LAZADA,MYMPA154886364,NaN,****,****,****,...,NaN,1,3,CABLE_CASE,3,NaN,30,0,,0
2,3,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,...,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,,0
3,4,dummy_order_4,DUMMY_SHOPEE_2,Delivered,SHOPEE,SPXMY048546106658,NaN,****,****,****,...,NaN,1,1,MOUSEPAD_WOVEN_DARKGREY_L,1,NaN,16.9,0,,0
4,5,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,...,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0,,0
5,6,dummy_order_6,DUMMY_SHOPEE_4,Delivered,SHOPEE,SPXMY045753691608,NaN,****,****,****,...,NaN,1,1,WRIST_REST_MOUSE_BLACK,1,NaN,29.9,0,,0
6,7,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,...,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0,,0

In [6]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
df = df.drop(['No'], axis = 1)
df

,Delivery Order ID,Marketplace Order ID,Order Status,Marketplace,Shipping Note,Reference No,Recipient,Recipient Address,Recipient Phone,Postcode,City,Zone,Country,Weight,m3,Total(RM),Delivery Method,Date Added,Date Stock Out,Date Delivered,Comment,Total Product,Total Product Quantity,Product Seller SKU,Product Quantity,Serial No,Product Price (RM),COD Amount(RM),SKU,Quantity
0,dummy_order_1,DUMMY_LAZADA_1,Delivered,LAZADA,MYMPA155138005,NaN,****,****,****,****,****,****,****,0.80,0.008960,0,NaN,2024-08-16 20:11:08,2024-08-17 11:17:57,2024-08-19 17:31:22,NaN,1,1,CABLE_PLAS_WHITE_S,1,NaN,9.9,0,,0
1,dummy_order_2,DUMMY_LAZADA_2,Delivered,LAZADA,MYMPA154886364,NaN,****,****,****,****,****,****,****,0.15,0.000576,0,NaN,2024-08-14 22:21:55,2024-08-28 08:28:35,2024-09-11 11:18:29,NaN,1,3,CABLE_CASE,3,NaN,30,0,,0
2,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,,0
3,dummy_order_4,DUMMY_SHOPEE_2,Delivered,SHOPEE,SPXMY048546106658,NaN,****,****,****,****,****,****,****,0.40,0.001920,0,NaN,2024-08-08 14:01:15,2024-08-08 14:27:32,2024-08-09 11:10:44,NaN,1,1,MOUSEPAD_WOVEN_DARKGREY_L,1,NaN,16.9,0,,0
4,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,****,****,****,****,0.39,0.003060,0,NaN,2024-08-07 00:20:31,2024-08-07 10:48:06,2024-08-07 17:12:58,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0,,0
5,dummy_order_6,DUMMY_SHOPEE_4,Delivered,SHOPEE,SPXMY045753691608,NaN,****,****,****,****,****,****,****,0.32,0.001188,0,NaN,2024-08-03 16:40:44,2024-08-05 12:03:30,2024-08-05 17:03:59,NaN,1,1,WRIST_REST_MOUSE_BLACK,1,NaN,29.9,0,,0
6,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,****,****,****,****,1.26,0.015300,0,NaN,2024-08-09 23:30:41,2024-08-10 10:54:03,2024-08-10 15:06:06,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0,,0

In [7]:
# Cast it to string
df['Product Quantity'] = df['Product Quantity'].astype(str)

In [8]:
# Explode the skus and respective quantities, into rows
row_list = []
for index,row in df.iterrows():
    skus = row['Product Seller SKU'].split(',')
    quantity = row['Product Quantity'].split(',')
    
    for sku,quantity in zip(skus,quantity):
        new_row = row.copy()
        new_row['SKU'] = sku.strip()
        new_row['Quantity'] = quantity.strip()
        row_list.append(new_row)

transformed_df = pd.DataFrame(row_list)
transformed_df

,Delivery Order ID,Marketplace Order ID,Order Status,Marketplace,Shipping Note,Reference No,Recipient,Recipient Address,Recipient Phone,Postcode,City,Zone,Country,Weight,m3,Total(RM),Delivery Method,Date Added,Date Stock Out,Date Delivered,Comment,Total Product,Total Product Quantity,Product Seller SKU,Product Quantity,Serial No,Product Price (RM),COD Amount(RM),SKU,Quantity
0,dummy_order_1,DUMMY_LAZADA_1,Delivered,LAZADA,MYMPA155138005,NaN,****,****,****,****,****,****,****,0.80,0.008960,0,NaN,2024-08-16 20:11:08,2024-08-17 11:17:57,2024-08-19 17:31:22,NaN,1,1,CABLE_PLAS_WHITE_S,1,NaN,9.9,0,CABLE_PLAS_WHITE_S,1
1,dummy_order_2,DUMMY_LAZADA_2,Delivered,LAZADA,MYMPA154886364,NaN,****,****,****,****,****,****,****,0.15,0.000576,0,NaN,2024-08-14 22:21:55,2024-08-28 08:28:35,2024-09-11 11:18:29,NaN,1,3,CABLE_CASE,3,NaN,30,0,CABLE_CASE,3
2,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,ORGANIZER_MEDIUM_X1,1
2,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,ORGANIZER_MEDIUM_X3,1
2,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,ORGANIZER_LARGE_X1,1
2,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,CABLE_STORAGE_S_GREY,1
3,dummy_order_4,DUMMY_SHOPEE_2,Delivered,SHOPEE,SPXMY048546106658,NaN,****,****,****,****,****,****,****,0.40,0.001920,0,NaN,2024-08-08 14:01:15,2024-08-08 14:27:32,2024-08-09 11:10:44,NaN,1,1,MOUSEPAD_WOVEN_DARKGREY_L,1,NaN,16.9,0,MOUSEPAD_WOVEN_DARKGREY_L,1
4,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,****,****,****,****,0.39,0.003060,0,NaN,2024-08-07 00:20:31,2024-08-07 10:48:06,2024-08-07 17:12:58,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0,MONITOR_LIGHT_LARGE_WHITE_CLIP,1
4,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,****,****,****,****,0.39,0.003060,0,NaN,2024-08-07 00:20:31,2024-08-07 10:48:06,2024-08-07 17:12:58,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0,CABLE_STORAGE_S_GREY,1
5,dummy_order_6,DUMMY_SHOPEE_4,Delivered,SHOPEE,SPXMY045753691608,NaN,****,****,****,****,****,****,****,0.32,0.001188,0,NaN,2024-08-03 16:40:44,2024-08-05 12:03:30,2024-08-05 17:03:59,NaN,1,1,WRIST_REST_MOUSE_BLACK,1,NaN,29.9,0,WRIST_REST_MOUSE_BLACK,1
6,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,****,****,****,****,1.26,0.015300,0,NaN,2024-08-09 23:30:41,2024-08-10 10:54:03,2024-08-10 15:06:06,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0,WHITE_TABLE_LAMP_TRI,1
6,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,****,****,****,****,1.26,0.015300,0,NaN,2024-08-09 23:30:41,2024-08-10 10:54:03,2024-08-10 15:06:06,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0,CABLE_STORAGE_S_GREY,1

In [9]:
# Reset the index after transforming the data
transformed_df.reset_index(drop=True, inplace = True)

In [10]:
transformed_df

,Delivery Order ID,Marketplace Order ID,Order Status,Marketplace,Shipping Note,Reference No,Recipient,Recipient Address,Recipient Phone,Postcode,City,Zone,Country,Weight,m3,Total(RM),Delivery Method,Date Added,Date Stock Out,Date Delivered,Comment,Total Product,Total Product Quantity,Product Seller SKU,Product Quantity,Serial No,Product Price (RM),COD Amount(RM),SKU,Quantity
0,dummy_order_1,DUMMY_LAZADA_1,Delivered,LAZADA,MYMPA155138005,NaN,****,****,****,****,****,****,****,0.80,0.008960,0,NaN,2024-08-16 20:11:08,2024-08-17 11:17:57,2024-08-19 17:31:22,NaN,1,1,CABLE_PLAS_WHITE_S,1,NaN,9.9,0,CABLE_PLAS_WHITE_S,1
1,dummy_order_2,DUMMY_LAZADA_2,Delivered,LAZADA,MYMPA154886364,NaN,****,****,****,****,****,****,****,0.15,0.000576,0,NaN,2024-08-14 22:21:55,2024-08-28 08:28:35,2024-09-11 11:18:29,NaN,1,3,CABLE_CASE,3,NaN,30,0,CABLE_CASE,3
2,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,ORGANIZER_MEDIUM_X1,1
3,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,ORGANIZER_MEDIUM_X3,1
4,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,ORGANIZER_LARGE_X1,1
5,dummy_order_3,DUMMY_SHOPEE_1,Delivered,SHOPEE,SPXMY046619812548,NaN,****,****,****,****,****,****,****,1.36,0.017400,0,NaN,2024-08-06 22:30:35,2024-08-07 10:49:19,2024-08-07 17:12:58,NaN,4,4,"ORGANIZER_MEDIUM_X1,ORGANIZER_MEDIUM_X3,ORGANI...","1,1,1,1",NaN,"13.9,36.9,23.9,3.7",0,CABLE_STORAGE_S_GREY,1
6,dummy_order_4,DUMMY_SHOPEE_2,Delivered,SHOPEE,SPXMY048546106658,NaN,****,****,****,****,****,****,****,0.40,0.001920,0,NaN,2024-08-08 14:01:15,2024-08-08 14:27:32,2024-08-09 11:10:44,NaN,1,1,MOUSEPAD_WOVEN_DARKGREY_L,1,NaN,16.9,0,MOUSEPAD_WOVEN_DARKGREY_L,1
7,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,****,****,****,****,0.39,0.003060,0,NaN,2024-08-07 00:20:31,2024-08-07 10:48:06,2024-08-07 17:12:58,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0,MONITOR_LIGHT_LARGE_WHITE_CLIP,1
8,dummy_order_5,DUMMY_SHOPEE_3,Delivered,SHOPEE,SPXMY047834864268,NaN,****,****,****,****,****,****,****,0.39,0.003060,0,NaN,2024-08-07 00:20:31,2024-08-07 10:48:06,2024-08-07 17:12:58,NaN,2,2,"MONITOR_LIGHT_LARGE_WHITE_CLIP,CABLE_STORAGE_S...","1,1",NaN,"99.9,3.7",0,CABLE_STORAGE_S_GREY,1
9,dummy_order_6,DUMMY_SHOPEE_4,Delivered,SHOPEE,SPXMY045753691608,NaN,****,****,****,****,****,****,****,0.32,0.001188,0,NaN,2024-08-03 16:40:44,2024-08-05 12:03:30,2024-08-05 17:03:59,NaN,1,1,WRIST_REST_MOUSE_BLACK,1,NaN,29.9,0,WRIST_REST_MOUSE_BLACK,1
10,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,****,****,****,****,1.26,0.015300,0,NaN,2024-08-09 23:30:41,2024-08-10 10:54:03,2024-08-10 15:06:06,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0,WHITE_TABLE_LAMP_TRI,1
11,dummy_order_7,DUMMY_SHOPEE_5,Delivered,SHOPEE,SPXMY042980758358,NaN,****,****,****,****,****,****,****,1.26,0.015300,0,NaN,2024-08-09 23:30:41,2024-08-10 10:54:03,2024-08-10 15:06:06,NaN,2,2,"WHITE_TABLE_LAMP_TRI,CABLE_STORAGE_S_GREY","1,1",NaN,"42.9,3.7",0,CABLE_STORAGE_S_GREY,1

In [11]:
transformed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Delivery Order ID       12 non-null     object
 1   Marketplace Order ID    12 non-null     object
 2   Order Status            12 non-null     object
 3   Marketplace             12 non-null     object
 4   Shipping Note           12 non-null     object
 5   Reference No            0 non-null      float64
 6   Recipient               12 non-null     object
 7   Recipient Address       12 non-null     object
 8   Recipient Phone         12 non-null     object
 9   Postcode                12 non-null     object
 10  City                    12 non-null     object
 11  Zone                    12 non-null     object
 12  Country                 12 non-null     object
 13  Weight                  12 non-null     float64
 14  m3                      12 non-null     float64
 15  Total(RM)               12 non-null     int64
 16  Delivery Method         0 non-null      float64
 17  Date Added              12 non-null     object
 18  Date Stock Out          12 non-null     object
 19  Date Delivered          12 non-null     object
 20  Comment                 0 non-null      float64
 21  Total Product           12 non-null     int64
 22  Total Product Quantity  12 non-null     int64
 23  Product Seller SKU      12 non-null     object
 24  Product Quantity        12 non-null     object
 25  Serial No               0 non-null      float64
 26  Product Price (RM)      12 non-null     object
 27  COD Amount(RM)          12 non-null     int64
 28  SKU                     12 non-null     object
 29  Quantity                12 non-null     object
dtypes: float64(6), int64(4), object(20)
memory usage: 2.9+ KB

In [11]:
# from sqlalchemy import create_engine, String
# server_name = 'MSI\SQLEXPRESS'
# driver = 'ODBC Driver 17 for SQL Server'
# database = 'Kaizen_db'
# engine = create_engine(f"mssql+pyodbc://@{server_name}/{database}?driver={driver}&trusted_connection=yes")
# try:
#     transformed_df.to_sql('OrderData', engine, if_exists='append', index=False,dtype={'Marketplace Order ID':String(length=255)})
#     print('Data appended to server successfully')
# except Exception as e:
#     print(f'Error occured {e}')

Data appended to server successfully